.loader {
   width: 68px;
   height: 68px;
   border-radius: 50%;
   border: 3px dashed teal;
   animation: rotation 1s linear 0s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}