* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: clamp(320px, 100%, 800px);
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid seagreen;
  margin-top: 15px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
}

.post__btn {
  display: flex;
  flex-direction: column;
}

.post_none {
  text-align: center;
}

.post__content {
  padding-right: 8px;
}

hr {
  margin: 10px 0;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.comments {
  width: clamp(320px, 100%, 830px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
}

.comments__title {
  margin-top: 15px;
}

.comments__posts {
  margin-top: 15px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid teal;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.page__wrapper {
  margin: 10px 0;
  display: flex;
}

.page {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border-radius: 4px;
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: clamp(320px, 100%, 800px);
  border-radius: 4px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  background: rgb(169, 199, 169);
}

.navbar__links {
  margin-left: auto;
}

.navbar__button {
  margin-top: 20px;
  padding: 4px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  text-decoration: none;
}

.user__mail {
  height: 15px;
  padding: 0px 10px;
}

.signup {
  width: clamp(320px, 100%, 400px);
}

.button_user {
  margin-top: 20px;
}

.start__page {
  padding: 10px 5px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 500px) {
  .post {
    flex-direction: column;
  }
  .post__btn {
    flex-direction: row;
    margin: 0 5px;
  }
  .post__content {
    padding-right: 0px;
  }
}

@media (max-width: 400px) {
  .navbar {
    height: 70px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}